@font-face {
	font-family: Inter-Regular;
	src:  url('../fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
	font-family: Inter-Extra-Bold;
	src:  url('../fonts/Inter/static/Inter-ExtraBold.ttf');
}

@font-face {
	font-family: Inter-Bold;
	src:  url('../fonts/Inter/static/Inter-Bold.ttf');
}

@font-face {
	font-family: Inter-Thin;
	src:  url('../fonts/Inter/static/Inter-Thin.ttf');
}

@font-face {
	font-family: Changa-ExtraBold;
	src:  url('../fonts/Changa/static/Changa-ExtraBold.ttf');
}

*{
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, html {
	height: 100%;
    width: 100%;
	resize: none;
}

header {
	width: 1920px;
	height: 42px;
	background-color: #F0FBFC;
	align-items: center;
	padding-left: 343px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

A {
    color: #333333;
    text-decoration: none;
}
A.mail-link {
	text-decoration: underline;
}
A:visited {
	color: #333333;
}
A:active {
	color: #333333;
}
A.tel {
	text-decoration: none;
}
A.sections {
	color: white;
	text-decoration: none;
}
A.sections:visited {
	color: white;
}
A.sections:active {
	color: white;
}

input {
	position: absolute;
	display: flex;
	width: 735px;
	height: 44px;
	background: #FFFFFF;
	box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.06);
	border-radius: 12px;
	border: none;
	margin-top: 263px;
	margin-left: 842px;
	padding-left: 44px;
	font-family: Inter-Thin;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 120%;
	color: #C0C0C0;
}

#adress-icon {
	width: 11px;
	height: 15px;
	margin-right: 5px;
	margin-right: 5px;
}

#vk-icon {
	width: 20px;
	height: 20px;
	margin-left: 152px;
}

#ok-icon {
	width: 11px;
	height: 20px;
	margin-left: 28px;
}

#mail-icon {
	width: 14px;
	height: 11px;
	margin-left: 82px;
}

#eye-icon {
	width: 24px;
	margin-left: 166px;
	margin-right: 11px;
}

#logo-icon {
	width: 118px;
	height: 127px;
	margin-top: 23px;
	margin-left: 343px;
}

#phone-icon {
	width: 21px;
	height: 20px;
	display: inline;
}

#search-icon {
	width: 21px;
	height: 22px;
	position: absolute;
	margin-top: 275px;
	margin-left: 855px;
}

p.text-header {
	font-family: Inter-Regular;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
	width: 311px;
	height: 22px;
}

p.mail-header {
	font-family: Inter-Regular;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
	width: 152px;
	height: 22px;
	margin-left: 5px;
}

.header-container {
	width: 1920px;
	height: 179px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

p.main-title {
	font-family: Inter-Extra-Bold;
	font-size: 30px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
	width: 677px;
	height: 76px;
	margin-left: 27px;
	margin-top: 49px;
}

.phone-container {
	margin-top: 27px;
	margin-left: 138px;
}

p.text-phone-number {
	font-family: Inter-Bold;
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	margin-left: 15px;
	color: #333333;
	display: inline;
	width: 231px;
}

#button-consultation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	position: absolute;
	width: 274px;
	height: 44px;
	background: linear-gradient(225deg, #00B9B6 0%, #00CDAC 100%);
	box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
	border-radius: 12px;
	border: none;
	margin-top: 17px;
}

p.text-button-consultation {
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 120%;
	color: white;
	width: 280px;
}

.sections-container {
	background-color: #01BFB4;
	width: 1920px;
	height: 106px;
	align-items: center;
	padding-left: 343px;
	padding-right: 343px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 14px;
}

div.sections {
	display: inline;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: white;
	height: 22;
	width: auto;
	margin-right: 24px;
	margin-top: 10px;
}

.row-sections {
	height: 22px;
	margin-bottom: 7px;
}

.info-container {
	width: 1920px;
	margin: 0 auto;
	margin-top: 102px;
}

p.title-center {
	width: 549px;
	height: 38px;
	font-family: Inter-Bold;
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	color: #0E0E0F;
	margin-left: 344px;
}

.text-national-project {
	margin-top: 40px;
	margin-bottom: 40px;
}

p.national-project {
	font-family: Inter-Regular;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #0E0E0F;
	margin-left: 344px;
	width: 960px;
}

p.national-project-bold {
	width: 498px;
	height: 19px;
	font-family: Inter-Bold;
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	color: #0E0E0F;
	margin-bottom: 30px;
	margin-left: 344px;
	width: 960px;
	margin-top: 40px;
}

.bold-text {
	font-family: Inter-Bold;
}

.text-schedule {
	margin-top: 60px;
	margin-left: 344px;
}

p.schedule {
	font-family: Inter-Bold;
	font-weight: 700;
	font-size: 18px;
	line-height: 120%;
	color: #01BFB4;
}

.labels {
	display: flex;
	position: absolute;
	margin-left: 74px;
	margin-top: 113px;
}

.center-container-ellipse {
	margin-left: 918px;
	margin-top: 251px;
	margin-right: 12px;
}

#omskgub-image {
	width: 392px;
	height: 86px;
	margin-right: 45px;
}

#rastimdetey-image {
	width: 265px;
	height: 94px;
	margin-right: 45px;
}

#gosuslugi-image {
	width: 300px;
	height: 98px;
	margin-right: 45px;
}

#busgovru-image {
	width: 330px;
	height: 86px;
	margin-right: 45px;
}

#fond-image {
	width: 304px;
	height: 85px;
	margin-right: 45px;
}

.public-services {
	width: 1311px;
	height: 218px;
	background-color: #F8F8F8;;
	margin-left: 343px;
	margin-top: 80px;
}

.image-family-public {
	position: absolute;
	width: 261px;
	height: 204px;
	margin-left: 218px;
	margin-top: 14px;
}

.image-public-services {
	position: absolute;
	width: 126px;
	height: 131px;
	margin-left: 568px;
	margin-top: 48px;
}

.public-services-title {
	width: 133px;
	height: 31px;
	font-family: Changa-ExtraBold;
	font-weight: 700;
	font-size: 26px;
	line-height: 120%;
	color: #0050AD;
	margin-left: 715px;
	position: absolute;
	margin-top: 71px;
}

.color-text {
	color: #EE2A50;
}

.public-services-text {
	width: 294px;
	height: 43px;
	font-family: Changa;
	font-weight: 700;
	font-size: 36px;
	line-height: 120%;
	color: #0050AD;
	margin-left: 714px;
	position: absolute;
	margin-top: 109px;
} 
 
/*.information-center {
	width: 1920px;
	background: white;
	padding-top: 80px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}*/

.contact-info {
	display: flex;
	width: 1920px;
	height: 295px;
	margin-left: auto;
	margin-right: auto;
	background-color: #01BFB4;;
	padding-left: 317px;
	margin-top: 80px;
}


.sections-left {
	margin-top: 42px;
	width: 341px;
	height: 142px;
}

.sections-right {
	margin-top: 42px;
	width: 207px;
	height: 142px;
	margin-left: 39px;
}

p.sections-text {
	margin-bottom: 8px;
	height: 22px;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
}

p.sections-text-mail {
	margin-bottom: 8px;
	height: 22px;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
	text-decoration: underline;
}

.social-networks {
	width: 94px;
	height: 45px;
	margin-top: 38px;
	display: flex;
	margin-left: 257px;
}

#vk-black-icon {
	width: 45px;
	height: 45px;
	margin-right: 24px;
}

#ok-black-icon {
	width: 25px;
	height: 45px;
}

.contact-data {
	height: 106px;
	position: absolute;
	margin-left: 845px;
	margin-top: 137px;
}

.data {
	display: flex;
	height: 22px;
	margin-bottom: 7px;
}

#mail-black-icon {
	margin-right: 12px;
	height: 12px;
	margin-top: 5px;
}

#adress-black-icon {
	margin-right: 11px;
	height: 15px;
	margin-top: 3px;
}

#phone-black-icon {
	margin-right: 8px;
	height: 14px;
	margin-top: 4px;
}

footer {
	width: 1920px;
	height: 72px;
	background-color: #F0FBFC;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding-left: 317px;

}

p.text-footer {
	height: 18px;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	text-decoration-line: underline;
	color: #A0A0A0;
	margin-right: 46px;
	margin-top: 23px;
}

p.text-footer-2 {
	width: 317px;
	height: 13px;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	letter-spacing: 0.05em;
	color: #A0A0A0;
	margin-top: 28px;
}

#atoll-image {
	height: 21px;
	margin-left: 7px;
	margin-top: 23px;
}
