@font-face {
	font-family: Inter-Regular;
	src:  url('../fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
	font-family: Inter-Extra-Bold;
	src:  url('../fonts/Inter/static/Inter-ExtraBold.ttf');
}

@font-face {
	font-family: Inter-Bold;
	src:  url('../fonts/Inter/static/Inter-Bold.ttf');
}

@font-face {
	font-family: Inter-Thin;
	src:  url('../fonts/Inter/static/Inter-Thin.ttf');
}

@font-face {
	font-family: Changa-ExtraBold;
	src:  url('../fonts/Changa/static/Changa-ExtraBold.ttf');
}

*{
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, html {
	height: 100%;
    width: 100%;
	resize: none;
}

header {
	width: 1920px;
	height: 42px;
	background-color: #F0FBFC;
	align-items: center;
	padding-left: 343px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

A {
    color: #333333;
    text-decoration: none;
}
A.mail-link {
	text-decoration: underline;
}
A:visited {
	color: #333333;
}
A:active {
	color: #333333;
}
A.tel {
	text-decoration: none;
}
A.sections {
	color: white;
	text-decoration: none;
}
A.sections:visited {
	color: white;
}
A.sections:active {
	color: white;
}

input {
	position: absolute;
	display: flex;
	width: 735px;
	height: 44px;
	background: #FFFFFF;
	box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.06);
	border-radius: 12px;
	border: none;
	margin-top: 263px;
	margin-left: 842px;
	padding-left: 44px;
	font-family: Inter-Thin;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 120%;
	color: #C0C0C0;
}

#adress-icon {
	width: 11px;
	height: 15px;
	margin-right: 5px;
	margin-right: 5px;
}

#vk-icon {
	width: 20px;
	height: 20px;
	margin-left: 152px;
}

#ok-icon {
	width: 11px;
	height: 20px;
	margin-left: 28px;
}

#mail-icon {
	width: 14px;
	height: 11px;
	margin-left: 82px;
}

#eye-icon {
	width: 24px;
	margin-left: 166px;
	margin-right: 11px;
}

#logo-icon {
	width: 118px;
	height: 127px;
	margin-top: 23px;
	margin-left: 343px;
}

#phone-icon {
	width: 21px;
	height: 20px;
	display: inline;
}

#search-icon {
	width: 21px;
	height: 22px;
	position: absolute;
	margin-top: 275px;
	margin-left: 855px;
}

p.text-header {
	font-family: Inter-Regular;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
	width: 311px;
	height: 22px;
}

p.mail-header {
	font-family: Inter-Regular;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
	width: 152px;
	height: 22px;
	margin-left: 5px;
}

.header-container {
	width: 1920px;
	height: 179px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

p.main-title {
	font-family: Inter-Extra-Bold;
	font-size: 30px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
	width: 677px;
	height: 76px;
	margin-left: 27px;
	margin-top: 49px;
}

.phone-container {
	margin-top: 27px;
	margin-left: 138px;
}

p.text-phone-number {
	font-family: Inter-Bold;
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	margin-left: 15px;
	color: #333333;
	display: inline;
	width: 231px;
}

#button-consultation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	position: absolute;
	width: 274px;
	height: 44px;
	background: linear-gradient(225deg, #00B9B6 0%, #00CDAC 100%);
	box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
	border-radius: 12px;
	border: none;
	margin-top: 17px;
}

p.text-button-consultation {
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 120%;
	color: white;
	width: 280px;
}

.sections-container {
	background-color: #01BFB4;
	width: 1920px;
	height: 106px;
	align-items: center;
	padding-left: 343px;
	padding-right: 343px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 14px;
}

div.sections {
	display: inline;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: white;
	height: 22;
	width: auto;
	margin-right: 24px;
	margin-top: 10px;
}

.row-sections {
	height: 22px;
	margin-bottom: 7px;
}

.main-container {
	width: 1920px;
	height: 748px;
	margin-left: auto;
	margin-right: auto;
}

p.help-family {
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #00B9B6;
	margin-left: 343px;
	margin-top: 204px;
}

p.text-main {
	font-family: Inter-Bold;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	margin-left: 343px;

}

#button-problem {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 30px 14px;
	gap: 10px;
	position: absolute;
	width: 257px;
	height: 48px;
	background: linear-gradient(225deg, #00B9B6 0%, #00CDAC 100%);
	box-shadow: 0px 15px 30px rgba(0, 255, 245, 0.35);
	border-radius: 12px;
	border: none;
	margin-top: 133px;
	margin-left: 343px;
}

p.text-button-problem {
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 120%;
	color: white;
}

.main-container-part {
	display: inline;
	position: absolute;
}

#main-image {
	width: 735px;
	height: 506px;
	margin-left: 842px;
	margin-top: 102px;
}

.main-container-ellipse {
	margin-left: 918px;
	margin-top: 648px;
	position: absolute;
}

.ellipse {
	width: 20px;
	height: 20px;
	margin-left: 12px;
}

.news-container {
	background-color: #F0FBFC;
	width: 1920px;
	height: 1088px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 343px;
	padding-top: 80px;

}

p.news-text-title {
	width: 132px;
	height: 36px;
	font-family: Inter-Extra-Bold;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 120%;
	color: #333333;
	margin-bottom: 40px;
}

.news-small-container {
	width: 390px;
	height: 221px;
	background: #FFFFFF;
	border-radius: 12px;
	display: inline-block;
	margin-right: 32px;
	margin-bottom: 32px;
	padding-left: 30px;
	padding-top: 27px;
}

p.news-title {
	width: 289px;
	height: 24px;
	font-family: Inter-Bold;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	color: #0E0E0F;
}

p.news-text {
	width: 289px;
	height: 75px;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #333333;	
	margin-top: 17px;
}

p.read-text {
	width: 84px;
	height: 19px;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #01C1B3;
	padding-top: 24px;
}

.news-container-ellipse {
	margin-left: 575px;
	margin-top: 807px;
	position: absolute;
}

.information-center {
	width: 1920px;
	height: 1244px;
	background: white;
	padding-top: 80px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.description-center-left {
	display: block;
}

.description-center-right {
	display: block;
	margin-left: 133px;
}

p.title-description-center {
	width: 549px;
	height: 38px;
	font-family: Inter-Bold;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	color: #0E0E0F;
	margin-left: 343px;
}

p.text-description-bold {
	width: 612px;
	height: 115px;
	font-family: Inter-Bold;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	color: #0E0E0F;
	margin-top: 40px;
	margin-bottom: 25px;
	margin-left: 343px;
}

p.text-description {
	width: 627px;
	height: 318px;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: #333333;
	margin-left: 343px;
}

p.title-help {
	width: 549px;
	height: 38px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	color: #0E0E0F;
}

p.title-children {
	width: 270px;
	height: 19px;
	font-family: Inter-Bold;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	color: #0E0E0F;
	margin-top: 40px;
}

.image-family {
	margin-top: 25px;
	height: 166px;
}

.public-services {
	position: absolute;
	width: 1311px;
	height: 218px;
	background-color: #F8F8F8;;
	margin-top: 595px;
	margin-left: 343px;
}

.image-family-public {
	position: absolute;
	width: 261px;
	height: 204px;
	margin-left: 218px;
	margin-top: 14px;
}

.image-public-services {
	position: absolute;
	width: 126px;
	height: 131px;
	margin-left: 568px;
	margin-top: 48px;
}

.public-services-title {
	width: 133px;
	height: 31px;
	font-family: Changa-ExtraBold;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 120%;
	color: #0050AD;
	margin-left: 715px;
	margin-top: 71px;

}

.color-text {
	color: #EE2A50;
}

.public-services-text {
	width: 294px;
	height: 43px;
	font-family: Changa;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 120%;
	color: #0050AD;
	margin-left: 714px;
	margin-top: 7px;
}

.labels {
	display: flex;
	position: absolute;
	margin-left: 74px;
	margin-top: 926px;
}

#omskgub-image {
	width: 392px;
	height: 86px;
	margin-right: 45px;
}

#rastimdetey-image {
	width: 265px;
	height: 94px;
	margin-right: 45px;
}

#gosuslugi-image {
	width: 300px;
	height: 98px;
	margin-right: 45px;
}

#busgovru-image {
	width: 330px;
	height: 86px;
	margin-right: 45px;
}

#fond-image {
	width: 304px;
	height: 85px;
	margin-right: 45px;
}

.center-container-ellipse {
	margin-left: 918px;
	margin-top: 1064px;
	position: absolute;
	margin-right: 12px;

}

.contact-info {
	display: flex;
	width: 1920px;
	height: 295px;
	margin-left: auto;
	margin-right: auto;
	background-color: #01BFB4;;
	padding-left: 317px;
}


.sections-left {
	margin-top: 42px;
	width: 341px;
	height: 142px;
}

.sections-right {
	margin-top: 42px;
	width: 207px;
	height: 142px;
	margin-left: 39px;
}

p.sections-text {
	margin-bottom: 8px;
	height: 22px;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
}

p.sections-text-mail {
	margin-bottom: 8px;
	height: 22px;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
	text-decoration: underline;
}

.social-networks {
	width: 94px;
	height: 45px;
	margin-top: 38px;
	display: flex;
	margin-left: 257px;
}

#vk-black-icon {
	width: 45px;
	height: 45px;
	margin-right: 24px;
}

#ok-black-icon {
	width: 25px;
	height: 45px;
}

.contact-data {
	height: 106px;
	position: absolute;
	margin-left: 845px;
	margin-top: 137px;
}

.data {
	display: flex;
	height: 22px;
	margin-bottom: 7px;
}

#mail-black-icon {
	margin-right: 12px;
	height: 12px;
	margin-top: 5px;
}

#adress-black-icon {
	margin-right: 11px;
	height: 15px;
	margin-top: 3px;
}

#phone-black-icon {
	margin-right: 8px;
	height: 14px;
	margin-top: 4px;
}

footer {
	width: 1920px;
	height: 72px;
	background-color: #F0FBFC;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding-left: 317px;

}

p.text-footer {
	height: 18px;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	text-decoration-line: underline;
	color: #A0A0A0;
	margin-right: 46px;
	margin-top: 23px;
}

p.text-footer-2 {
	width: 317px;
	height: 13px;
	font-family: Inter-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	letter-spacing: 0.05em;
	color: #A0A0A0;
	margin-top: 28px;
}

#atoll-image {
	height: 21px;
	margin-left: 7px;
	margin-top: 23px;
}






